name: Release tagged build

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Tag version to release (e.g., v1.2.8)'
        required: true
        default: 'v1.0.0'
    secrets:
      MAVEN_USER:
        required: false
      MAVEN_PASSWORD:
        required: false
      CURSEFORGE_TOKEN:
        required: false
      MODRINTH_TOKEN:
        required: false

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      VERSION: ${{ github.event.inputs.release_tag }}
      RELEASE_VERSION: ${{ github.event.inputs.release_tag }}
      SNAPSHOT: ${{ endsWith(github.event.inputs.release_tag, '-snapshot') }}
      PRERELEASE: ${{ endsWith(github.event.inputs.release_tag, '-pre') }}
      MAVEN_PUBLISHING_URL: ${{ vars.MAVEN_PUBLISHING_URL || 'https://nexus.gtnewhorizons.com/repository/releases/' }}
    steps:
      - name: Checkout mod repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 32

      - name: Set up JDK versions
        uses: actions/setup-java@v4
        with:
          java-version: |
            8
            17
            21
          distribution: 'zulu'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
          validate-wrappers: true

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup the workspace
        run: ./gradlew --build-cache --info --stacktrace -PmavenPublishUrl="${{ env.MAVEN_PUBLISHING_URL }}" setupCIWorkspace

      - name: Build the mod
        run: ./gradlew --build-cache --info --stacktrace -PmavenPublishUrl="${{ env.MAVEN_PUBLISHING_URL }}" assemble

      - name: Delete old release if it already exists
        run: gh release delete --yes "${RELEASE_VERSION}"
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release under current tag
        run: |
          PRERELEASE=""
          if [[ "$SNAPSHOT" == "true" ]]; then
            PRERELEASE="--prerelease"
          fi

          CHANGELOG_OVERRIDE=".changelogs/${RELEASE_VERSION}.md"
          if [[ -f "$CHANGELOG_OVERRIDE" ]]; then
            echo "Using changelog override: $CHANGELOG_OVERRIDE"
            export "CHANGELOG_FILE=$CHANGELOG_OVERRIDE"
          else
            echo "Generating changelog notes..."
            export "CHANGELOG_FILE=$(mktemp --suffix=.md)"
            gh api --method POST -H "Accept: application/vnd.github+json" \
              "/repos/${GITHUB_REPOSITORY}/releases/generate-notes" \
              -f tag_name="${RELEASE_VERSION}" \
              --jq ".body" > "${CHANGELOG_FILE}"
          fi

          cat "${CHANGELOG_FILE}"
          gh release create "${RELEASE_VERSION}" -F "${CHANGELOG_FILE}" $PRERELEASE ./build/libs/*.jar
        shell: bash
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Maven
        run: ./gradlew --build-cache --info --stacktrace -PmavenPublishUrl="${{ env.MAVEN_PUBLISHING_URL }}" assemble publish -x test
        continue-on-error: true
        env:
          MAVEN_USER: ${{ secrets.MAVEN_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        if: ${{ env.MAVEN_USER != '' }}

      - name: Publish to Modrinth
        run: ./gradlew --build-cache --info --stacktrace -PmavenPublishUrl="${{ env.MAVEN_PUBLISHING_URL }}" assemble publish -x test
        continue-on-error: true
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        if: ${{ env.SNAPSHOT != 'true' && env.PRERELEASE != 'true' }}

      - name: Publish to Curseforge
        run: ./gradlew --build-cache --info --stacktrace -PmavenPublishUrl="${{ env.MAVEN_PUBLISHING_URL }}" assemble publish -x test
        continue-on-error: true
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
        if: ${{ env.SNAPSHOT != 'true' && env.PRERELEASE != 'true' }}